---
const { label = 'Text input', input = 'input', hint, max = '40' } = Astro.props;
const id = 'a' + Math.random().toString(16).slice(2);
---
<div class="usa-character-count">
    {(input === 'textarea') ?
    (
        <div class="usa-form-group">
            <label class="usa-label" for={`${id}`}>{label}</label>
            {hint &&
                <span id={`${id}-hint`} class="usa-hint">{hint}</span>
            }
            <input
                class="usa-input usa-character-count__field"
                id={`${id}`}
                maxlength={max}
                name={`${id}`}
                aria-describedby={`${id}-info ${id}-hint`}
            />
        </div>
        <span id={`${id}-info`} class="usa-character-count__message">You can enter up to {max} characters</span>
        )
    :
    (
    <div class="usa-form-group">
        <label class="usa-label" for={`${id}`}>{label}</label>
        {hint &&
            <span id={`${id}-hint`} class="usa-hint">{hint}</span>
        }
      <textarea
        class="usa-textarea usa-character-count__field"
        id={`${id}`}
        maxlength={max}
        name={`${id}`}
        rows="5"
        aria-describedby={`${id}-info ${id}-hint`}
      ></textarea>
    </div>
    <span id={`${id}-info`} class="usa-character-count__message">You can enter up to {max} characters</span>
    )
    }
</div>
