---
const { label = 'Text input', name, input = 'input', hint, max = '40' } = Astro.props;
---
<div class="usa-character-count">
    {(input === 'textarea') ?
    (
        <div class="usa-form-group">
            <label class="usa-label" for={`${name}`}>{label}</label>
            {hint &&
                <span id={`${name}-hint`} class="usa-hint">{hint}</span>
            }
            <input
                class="usa-input usa-character-count__field"
                id={`${name}`}
                maxlength={max}
                name={`${name}`}
                aria-describedby={`${name}-info ${name}-hint`}
            />
        </div>
        <span id={`${name}-info`} class="usa-character-count__message">You can enter up to {max} characters</span>
        )
    :
    (
    <div class="usa-form-group">
        <label class="usa-label" for={`${name}`}>{label}</label>
        {hint &&
            <span id={`${name}-hint`} class="usa-hint">{hint}</span>
        }
      <textarea
        class="usa-textarea usa-character-count__field"
        id={`${name}`}
        maxlength={max}
        name={`${name}`}
        rows="5"
        aria-describedby={`${name}-info ${name}-hint`}
      ></textarea>
    </div>
    <span id={`${name}-info`} class="usa-character-count__message">You can enter up to {max} characters</span>
    )
    }
</div>
