---
import astroConfig from '@config';
import Name from '@helper/Name.astro';

const items = ["Dog", "Cat", "Platypus"];
---

<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
	<div class="usa-nav-container">
		<div class="usa-navbar">
			<div class="usa-logo" id="-logo">
				<em class="usa-logo__text"><a href="/" title="Home"><Name /></a></em>
			</div>
			<button type="button" class="usa-menu-btn">Menu</button>
		</div>
		<nav aria-label="Primary navigation" class="usa-nav">
			<button type="button" class="usa-nav__close">
				<img src="/assets/img/usa-icons/close.svg" role="img" alt="Close" />
			</button>
			{astroConfig.headerLinks &&
				<ul class="usa-nav__primary usa-accordion">
					{astroConfig.headerLinks.map(item => (
						<li class="usa-nav__primary-item">
							{item.link ?
								<a href={item.link} class="usa-nav-link"><span>{item.text}</span></a>
								:
								<button
									type="button"
									class="usa-accordion__button usa-nav__link"
									aria-expanded="false"
									aria-controls={`basic-nav-section-${item.text.toLowerCase().replace(/ /g, '-')}`}
								>
									<span>{item.text}</span>
								</button>
								<ul id={`basic-nav-section-${item.text.toLowerCase().replace(/ /g, '-')}`} class="usa-nav__submenu">
									{item.submenu.map(submenu => (
										<li class="usa-nav__submenu-item">
											<a href={submenu.link}><span>{submenu.text}</span></a>
										</li>
									))}
								</ul>
							}
						</li>
					))}
				</ul>
			}
			{astroConfig.search &&
				<section aria-label="Search component">
					<form class="usa-search usa-search--small" role="search">
						<label class="usa-sr-only" for="search-field">Search</label>
						<input class="usa-input" id="search-field" type="search" name="search" />
						<button class="usa-button" type="submit">
							<img
								src="/assets/img/usa-icons-bg/search--white.svg"
								class="usa-search__submit-icon"
								alt="Search"
							/>
						</button>
					</form>
				</section>
			}
		</nav>
	</div>
</header>