---
const { name, label, hint, placeholder, pattern, inputmode } = Astro.props;
---
<label class="usa-label" for={name}>{label}</label>
{hint &&
  <div class="usa-hint" id={`${name}-hint`}>{hint}</div>
}
<div class="usa-input-group">
  <div class="usa-input-prefix" aria-hidden="true">
    <slot />
  </div>
  <input
    id={name}
    name={name}
    class="usa-input"
    pattern={pattern}
    inputmode={inputmode}
    placeholder={placeholder}
  />
</div>
