---
const { label, name, buttons, tile } = Astro.props;

let classList = 'usa-radio__input';
if (tile) {
	classList = classList + ' usa-radio__input--tile';
}

// Data structutre:
// buttons={[
// 			{
// 				label: 'Radio button',
//        value: 'value',
// 				description: 'Description tk tk tk',
//        checked: true,
//        disabled: false,
// 			},
// 		]}
---

<fieldset class="usa-fieldset">
	<legend class="usa-legend usa-legend">{label}</legend>

	{
		buttons.map((item) => (
			<div class="usa-radio">
				<input
					class={classList}
					id={item.value}
					type="radio"
					name={name}
					value={item.value}
					checked={item.checked}
					disabled={item.disabled}
				/>
				<label class="usa-radio__label" for={item.value}>
					{item.label}
				</label>
			</div>
		))
	}
</fieldset>
