---
const { label, name, disabled, error, success, textarea, value, placeholder } = Astro.props;
let classRoot = 'usa-input';
if (textarea) {
	classRoot = 'usa-textarea';
}
let classList = `${classRoot}`;
if (error) {
	classList = classList + ` ${classRoot}--error`;
}
if (success) {
	classList = classList + ` ${classRoot}--success`;
}
---

{
	label && (
		<label class="usa-label" for={name}>
			{label}
		</label>
	)
}
{
	textarea ? (
		<textarea
			class={classList}
			id={name}
			name={name}
			disabled={disabled}
			value={value}
			placeholder={placeholder}
		/>
	) : (
		<input
			class={classList}
			id={name}
			name={name}
			disabled={disabled}
			value={value}
			placeholder={placeholder}
		/>
	)
}
