---
import astroConfig from '@config';
import Banner from '@uswds/Banner.astro';
import Head from '@component/Head.astro';
import Header from '@uswds/Header.astro';
import Footer from '@uswds/Footer.astro';
import Sidenav from '@uswds/Sidenav.astro';
import Skipnav from '@uswds/Skipnav.astro';

const { frontmatter } = Astro.props;

const pathArray = frontmatter.file.split('src/')[1].split('/');
let isIndex = false;
let path = '/src';
pathArray.forEach((i) => {
	if (!i.split('.')[1]) {
		path = path + `/${i}`;
	}
	if (i.split('.')[0] === 'index') {
		isIndex = true;
	}
});

// const postsPath = await path + '/*.{md,mdx}';
const posts = (await Astro.glob('/src/pages/documentation/*.{md,mdx}')).sort(
	(a, b) => parseInt(a.frontmatter.order) - parseInt(b.frontmatter.order)
);

let outline = [];
posts.forEach(post => {
    let thisPost = {};
    let thisChildren = [];
    thisPost.title = post.frontmatter.title;
    thisPost.link = post.url;
    thisPost.current = (post.url === frontmatter.url);
    post.getHeadings().forEach(heading => {
        let newHeading = {
            title: heading.text,
            link: `#${heading.slug}`,
            children: []
        }
        if(heading.depth === 1 || heading.depth === 2) {
            thisChildren.push(newHeading)
        }
        if(heading.depth === 3) {
            let prevHeading = thisChildren[thisChildren.length - 1];
            if(prevHeading) {
                prevHeading.children.push(newHeading);
            }
        }
    });
    thisPost.children = thisChildren;
    outline.push(thisPost);
});
---

<html lang={astroConfig.lang}>
  
	<Head title={frontmatter.title} />
	<body>
        <Skipnav />
		<Banner />
		<Header />

		<div class="usa-section">
			<div class="grid-container">
				<div class="grid-row grid-gap">
					<div class="usa-layout-docs__sidenav desktop:grid-col-3">
						<nav aria-label="Secondary navigation">
                            <Sidenav outline={outline} />
						</nav>
					</div>
					<main
						class="usa-layout-docs__main desktop:grid-col-9 usa-prose usa-layout-docs"
						id="main-content"
					>
                        <h1>{frontmatter.title}</h1>
                        <p class="usa-intro">{frontmatter.intro}</p>
						<slot />
					</main>
				</div>
			</div>
		</div>

		<Footer />

		<script>
			import '/node_modules/@uswds/uswds/dist/js/uswds.min.js';
		</script>
	</body>
</html>
