---
import astroConfig from '@config';
import Banner from '@uswds/Banner.astro';
import Head from '@component/Head.astro';
import Header from '@uswds/Header.astro';
import Footer from '@uswds/Footer.astro';

const { frontmatter } = Astro.props;

const pathArray = frontmatter.file.split('src/')[1].split('/');
let isIndex = false;
let path = '/src';
pathArray.forEach((i) => {
	if (!i.split('.')[1]) {
		path = path + `/${i}`;
	}
	if (i.split('.')[0] === 'index') {
		isIndex = true;
	}
});

// const postsPath = await path + '/*.{md,mdx}';
const posts = (await Astro.glob('/src/pages/documentation/*.{md,mdx}')).sort(
	(a, b) => parseInt(a.frontmatter.order) - parseInt(b.frontmatter.order)
);
---

<html lang={astroConfig.lang}>
  
	<Head title={frontmatter.title} />
	<body>
		<Banner />
		<Header />

		<div class="usa-section">
			<div class="grid-container">
				<div class="grid-row grid-gap">
					<div class="usa-layout-docs__sidenav desktop:grid-col-3">
						<nav aria-label="Secondary navigation">
							<ul class="usa-sidenav">

                {posts.map(post => (
                  <>
                    {frontmatter.url === post.url ?
                      <>
                        <li class="usa-sidenav__item"><a href="#" class="usa-current">{post.frontmatter.title}</a></li>
                        <ul class="usa-sidenav__sublist">
                          {post.getHeadings().map(h => (
                            <>
                              {(h.depth <= 2) &&
                                <li class="usa-sidenav__item">
                                  <a href=`#${h.slug}`>{h.text}</a>
                                </li>
                              }
                            </>
                          ))}
                        </ul>
                      </>
                      :
                      <li class="usa-sidenav__item"><a href={post.url}>{post.frontmatter.title}</a></li>
                    }
                  </>
                ))}
							</ul>
						</nav>
					</div>
					<main
						class="usa-layout-docs__main desktop:grid-col-9 usa-prose usa-layout-docs"
						id="main-content"
					>
            <h1>{frontmatter.title}</h1>
            <p class="usa-intro">{frontmatter.intro}</p>
						<slot />
					</main>
				</div>
			</div>
		</div>

		<Footer />

		<script>
			import '/node_modules/@uswds/uswds/dist/js/uswds.min.js';
		</script>
	</body>
</html>
